* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    padding-left: 100px;
}

.nav-list ul {
    margin-left: 880px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

ul li {
    padding: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}